/* Sections */

html,body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden 
}
#bridge {
    position: fixed;
    background-image: none;
    background-repeat: no-repeat;
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    background-position: center center;
/*    height: 100vh;
*/    text-align: center;
/*    z-index: -2
*/}
#main-overlay {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #2b90d9;
    z-index: 0;
    padding: 0;
    margin: 0;
    top: 0
}
#intro-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    color: #E0E3DA
}
#name {
    font-family: 'Montserrat', helvetica;
    color: #ecf0f1;
    font-size: 4em;
    margin: 0;
    letter-spacing: -4;
    margin: 0 auto;
    z-index: 100;
    display: inline-block;
    border-bottom: 3px solid #ecf0f1;
    padding: 30px;
    border: 4px solid #ecf0f1
}
.contact-buttons {
    background-color: transparent;
    border-radius: 100%;
    padding: 22px 13px 12px 13px;
    margin: 0px 6px 0 6px;
    background-color: #ecf0f1;
    outline: none
}
.contact-buttons i {
    color: #2b90d9
}
.contact-buttons:hover {
    background-color: #2b90d9;
    border-color: #2b90d9;
    color: #2b90d9
}
.contact-buttons:hover i {
    color: #ecf0f1
}
#contact-buttons-box {
    margin-top: 30px;
}
#about {
    width: 100%;
    background-color: #21364b;
    opacity: .9
}

#profile {
    background-color: #f76160;
    padding: 80px 15px 80px 15px;
    text-align: center;
    font-family: 'Raleway', helvetica
}

#skills {
    background-color: #47b8eo;
    padding: 40px 0
}

#timeline {
    background-color: #2980b9;
    width: 100%;
    color: #ecf0f1;
    padding: 50px 0 50px 0;
    opacity: .9
}
#projects {
    background-color: #8e44ad;
    width: 100%;
    color: #ecf0f1;
    padding: 50px 0 50px 0;
    opacity: .9
}
#contact-page {
    text-align: center;
    background-color: #31355B;
    color: #ecf0f1;
    padding-top: 80px;
    padding-bottom: 80px;
    opacity: .9
}







/* About Content */

#about-me {
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: center
}
#about-me h2 {
    color: #ecf0f1;
    font-family: 'Raleway', helvetica;
    font-size: 2em;
    margin: 0;
    text-align: center
}

#about-me p {
    color: #ecf0f1;
    font-family: 'Raleway', helvetica;
    font-size: 1.18em;
    margin: 0;
    text-align: justify
}


/* Profile Content */



#profile h2 {
    color: #ecf0f1;
    text-align: center;
    font-size: 2em;
    margin: 0
}
#profile ul {
    margin-top: 0
}

#profile ul p {
    font-size: 1.25em;
    margin: 0
}
#profile li {
    margin: 0;
    font-size: 1.15em;
    color: #ecf0f1
}
#profile li:nth-child(3n) {
    margin-bottom: 10px;
    position: relative;
    bottom: 12px
}
#profile #me {
    width: 100px;
    border-radius: 100%;
    border: 3px solid #e74c3c
}


/* Skills Content */

.skills-cln h3 {
    font-size: 1.5em;
    font-family: 'Raleway', helvetica;
    text-align: center;
    margin: 0
}

#web-skills {
    text-align: center;
    margin-bottom: 40px
}
#language-skills {
    text-align: center;
    margin-bottom: 40px
}

.skill-lbl {
    text-align: center
}
.skill-lbl h2 {
    color: #2E2633;
    font-family: 'Raleway', helvetica;
    font-size: 2em;
    margin: 0
}


/* Timeline Content */


#timeline-lbl {
    text-align: center
}
#timeline-lbl h2 {
    font-family: 'Raleway', helvetica;
    font-size: 2em;
    margin: 0
}

/* Projects Content */


#projects-lbl {
    text-align: center
}
#projects-lbl h2 {
    font-family: 'Raleway', helvetica;
    font-size: 2em;
    margin: 0
}

/* Contact Content */



#contact-page h2 {
    font-family: 'Raleway', helvetica;
    font-size: 2em;
    margin: 0
}

.contact-col a {
    font-size: 1.2em;
    display: block;
    margin: 10px 0 10px 0;
    color: #ecf0f1
}
.contact-col a:hover {
    text-decoration: none;
    color: #FBB829
}

/* Footer Section & Content */


footer {
    background-color: #FFFFFF;
    margin: 0;
    padding: 15px 0
}
footer h2 {
    color: #2E2633;
    font-size: 1.2em;
    font-family: 'Raleway', helvetica;
    margin: 0
}

/* General Content */


body {
    font-family: 'Raleway', helvetica
}
ul {
    padding: 0 !important
}
li {
    list-style: none;
    margin: 30px 0 30px 0
}



/* Line */



.small-line {
    width: 60px;
    border-top: 3px solid #fff;
    display: inline-block;
    position: relative;
    bottom: 4px
}
.small-line-red {
    width: 60px;
    border-top: 3px solid #e74c3c;
    display: inline-block;
    position: relative;
    bottom: 4px
}
#about-me .small-line {
    border-color: #FFFFFF;
    margin: 10px 0 50px 0
}
#profile .small-line {
    margin: 10px 0 50px 0
}
#profile ul .small-line {
    position: relative;
    width: 20px;
    border-top: 2px solid #fff;
    margin-bottom: 30px
}

.skill-lbl .small-line-red {
    margin: 10px 0 0px 0
}
#web-skills .small-line-red {
    margin: 8px 0 0px 0;
    width: 40px

}
#language-skills .small-line-red {
    margin: 8px 0 0px 0;
    width: 40px
}

#timeline-lbl .small-line {
    margin: 10px 0 0 0;
    border-color: #ecf0f1
}
#projects-lbl .small-line {
    margin: 10px 0 0 0;
    border-color: #ecf0f1
}
#contact-page .small-line {
    margin: 10px 0 40px 0;
    border-color: #ecf0f1
}




/*media queries */

@media screen and (max-width: 600px){
  section{
    padding: 1.5em;
  }
    #name-box{
        padding-left: 7%;
        padding-right: 7%
    }
    #name{
        padding: 15px
    }
    #hello{
        margin-top: 10px;
        margin-bottom: 0px
    }
    #about-me{
        padding-top: 40px;
        padding-bottom: 60px;
        padding-left: 7%;
        padding-right: 7%
    }
    #profile{
        padding-bottom: 10px;
        padding-top: 40px
    }
    #profile .small-line{
        margin-bottom: 30px
    }
    #skills{
        padding-bottom: 0px
    }
    .skill-lbl{
        padding-bottom: 20px
    }
    #web-skills h3{
        padding-bottom: 5px
    }
    #timeline{
        text-align: center
    }
    #timeline li{
        margin: 30px 0 10px 0
    }
    .job-title h2{
        font-size: 1.8em
    }
    .job-title h3{
        font-size: 1.5em
    }
    .job-description-text{
        font-size: 1.5em
    }
    .job-title h3,h2{
        margin-top: 0px
    }
    #projects{
        text-align: center
    }
    .contact-col a{
        font-size: 1.4em
    }
    footer h2{
        font-size: 1em
    }
}
@media screen and (min-width: 400px) {
    #name {
        font-size: 4em;
        padding: 20px
    }
    #name-box {
        padding-right: 7%;
        padding-left: 7%
    }
    #intro-box h2 {
        font-size: 1.8em
    }
    .contact-col a {
        font-size: 1.4em
    }
    #contact-buttons-box {
        margin-top: 50px
    }
    #about-me{
        padding-right: 7%;
        padding-left: 7%
    }
    #profile{
        padding-left: 7%;
        padding-right: 7%;
        padding-bottom: 20px;
        padding-top: 50px
    }
    #skills{
        padding-bottom: 20px
    }
    .skill-lbl{
        padding-bottom: 20px
    }
    #web-skills h3{
        padding-bottom: 5px
    }
    #web-skills{
        margin-bottom: 20px
    }
    .job-title{
        padding-left: 30px;
        padding-right: 30px;
        text-align: center
    }
    .job-title h3{
        font-size: 1.05em;
        margin-bottom: 5px
    }
    .job-title h2{
        font-size: 1.4em;
        margin: 0 0 0 0
    }
    .job-time{
        text-align: center
    }
    .job-description{
        padding-left: 30px;
        padding-right: 30px;
        text-align: center
    }
    #timeline{
        padding-bottom: 10px
    }
    #timeline ul{
        margin-bottom: 0px
    }
    #projects{
        padding-bottom: 10px
    }    
}
@media screen and (min-width: 768px) {
    #name {
        font-size: 5.5em
    }
    #contact-buttons-box {
        margin-top: 60px
    }
    .job-title {
        text-align: left
    }
    .job-title h3 {
        font-size: 1.05em
    }
    .job-title h2 {
        font-size: 1.4em
    }
    .job-description {
        vertical-align: top;
        text-align: left
    }
    .job-time {
        display: inline-block;
        text-align: left
    }
    #timeline-lbl {
        text-align: left
    }
    #timeline-lbl h2 {
        margin: 0;
        padding: 15px;
        display: inline-block;
        color: #ecf0f1;
        border: 3px solid #ecf0f1
    }
    #timeline-lbl .small-line {
        display: none
    }
    #projects-lbl {
        text-align: left
    }
    #projects-lbl h2 {
        margin: 0;
        padding: 15px;
        display: inline-block;
        color: #ecf0f1;
        border: 3px solid #ecf0f1
    }
    #projects-lbl .small-line {
        display: none
    }
    #about-me {
        text-align: left;
        padding-bottom: 0px;
        padding-right: 40px;
    }
    #about-me h2 {
        color: #ecf0f1;
        border: 3px solid #ecf0f1;
        padding: 15px;
        display: inline-block;
        margin: 0 0 50px 0
    }
    #about-me .small-line {
        display: none
    }
    #profile {
        text-align: left;
        padding-left: 40px;
    }
    #profile h2 {
        color: #ecf0f1;
        border: 3px solid #ecf0f1;
        padding: 15px;
        display: inline-block;
        margin: 0 0 50px 0
    }
    #profile .small-line-ttl {
        display: none
    }
    .skills-cln h3 {
        text-align: left
    }
    #web-skills {
        text-align: left;
        margin-bottom: 0
    }
    #languages-skills {
        text-align: left;
        margin-bottom: 0
    }
    .skill-lbl {
        text-align: left
    }
    .skill-lbl h2 {
        color: #e74c3c;
        border: 3px solid #e74c3c;
        padding: 15px;
        display: inline-block;
        margin: 0 0 25px 0
    }
    .skill-lbl .small-line-red {
        display: none;
        position: relative
    }
    .projects-lbl {
        text-align: left;
    }
    .projects-lbl h2 {
        color: #2ecc71;
        border: 3px solid #2ecc71;
        padding: 15px;
        display: inline-block;
        margin: 0 0 80px 0
    }
    .projects-lbl .small-line {
        display: none
    }
    .external-link {
        right: 15px;
        top: 0
    }
    .web-description {
        height: 160px
    }
    #contact-page {
        text-align: left;
    }
    #contact-page h2 {
        margin: 0 0 60px 0;
        padding: 15px;
        display: inline-block;
        color: #ecf0f1;
        border: 3px solid #ecf0f1
    }
    #contact-page .small-line {
        display: none
    }
}
@media screen and (min-width: 992px) {
    #name {
        font-size: 6em
    }
    .job-title {
        text-align: left;
        vertical-align: top
    }
    .job-title h3 {
        font-size: 1.2em
    }
    .job-title h2 {
        font-size: 1.6em
    }
    .job-time {
        font-size: 1.05em
    }
    .job-description-text {
        font-size: 1.1em
    }
    #about-me {
        padding-bottom: 20px;
        padding-right: 60px;
        height: 732px
    }
    #profile {
        padding-right: 60px;
        height: 732px
    }
    .web-description {
        height: 140px
    }
    .more-info {
        min-height: 160px
    }
}
@media screen and (min-width: 1200px) {
    #profile {
        padding-bottom: 20px;
        padding-left: 80px
    }
    #about-me {
        padding-bottom: 20px;
        padding-right: 80px
    }
}
@media screen and (min-width: 1500px) {
    #profile {
        height: 632px
    }
    #about-me {
        height: 632px
    }
}